*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: normal; 
    font-size: inherit;  
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
header{
    width: 100vw;
    display: flex;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
ul{
    margin: 5px 30px 0px 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
li{
    color: white;
    font-size: 28px;
}
nav a{
    color: white;
}
#content-logo{
    background-image: url(../IMG/icone_logo_studio.png);
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5px;
}
#content-nome-logo{
    background-image: url(../IMG/nome_nav.png);
    height: 50px;
    width: 108px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5px;
}
.container-logos{
    display: flex;
    gap: 20px;
}

/*tudo acima e da header*/

#section-1{
    background-color: rgba(11, 12, 13, 1);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 715px;
    padding: 0 0 0 5vw;
}
.container-titulos-e-botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 7pc;
}
.content-titulos{
    margin: 0 0 0 6vw;
    color: white;
    font-size: clamp(50px, 7vw, 95px);
    display: flex;
    flex-direction: column;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}
#h2dourado{
    color: rgb(145, 136, 19);
}

/*tudo acima e dos h2 da section 1*/
#botoes-section1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 0 0 9vw;
}
.button{
    font-size: 25px;
    display: flex;
    width: 200px;
    height: 50px;
    background-color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 0px;
}
.button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Inria Serif", serif;
    font-weight: 600;
    font-style: italic;
}
.button img{
    width: 40px;
    height: 40px;
}
#button1{
    display: flex;
    align-items: center;
    gap: 27px;
}
#button2{
    display: flex;
    align-items: center;
    gap: 21px;
}

/*tudo acima sao os botoes do section 1*/
.container-imagem-section1{
    height: 100%;
    width: 750px;
    display: flex;
    align-items: end;
}
#content-mulheres-section1{
    background-image: url(../IMG/mulheres_s1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    width: 750px;
    height: 70%;
    flex-shrink: 0;
}


/*literal tudo, botoes, h2. sao da section 1*/

#section-2{
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    height: 100vh;
}
.container-imagem-e-texto-e-botao{
    width: 100vw;
    max-height: 715px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding-bottom: 4%;
}
#content-imagem-section2{
    background-image: url(../IMG/dona.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 300px;
    min-height: 550px;
    border: 1px solid white;
    border-radius: 10px;
}

/*Acima esta a imagem da section 2*/

.container-titulos-e-paragrafos-section2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 515px;
    
}
.container-titulos-e-paragrafos-section2 h2{
    color: white;
    font-size: clamp(20px,7w,35px);
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.container-titulos-e-paragrafos-section2 #titulo-maior{
    font-size: clamp(30px,7vw,40px);
    font-family: "Inria Serif", serif;
    font-weight: 600;
    color: rgb(145, 136, 19);
}
#section-2 p{
    max-width: 40vw;
    text-align: justify;
    hyphens: auto;
    line-height: 25px;
    font-size: clamp(15px,7vw,20px);
    color: white;
}

/*Acima esta os paragrafos e titulos da section 2*/

#section-2 button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 0px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    margin-top: 7%;
}
#section-2 a{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*Acima esta o botao agende da section 2*/
