/* --- classe animação foi adicionada e colocada nos textos e titulos --- */

.animacao {
  opacity: 0;
  transform: translateX(-50px); 
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform; 
}
.animacao.appear {
  opacity: 1;
  transform: translateX(0); 
}

/* --- section de serviços --- */

.cards-servicos {
  opacity: 0;
  transform: translateX(-50px); 
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform; 
}
.cards-servicos.appear {
  opacity: 1;
  transform: translateX(0); 
}
.cards-servicos:nth-child(1) { transition-delay: 0s; }

.cards-servicos:nth-child(2) { transition-delay: 0.2s; }

.cards-servicos:nth-child(3) { transition-delay: 0.4s; }

.cards-servicos:nth-child(4) { transition-delay: 0.6s; }

/* --- animação dos botoes --- */
.botoes {
  opacity: 0;
  transform: translateX(-50px); 
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform; 
}
.botoes.appear {
  opacity: 1;
  transform: translateX(0); 
}

/* --- Links do Menu (Header) --- */
nav a::after {
    transition: width ease-in-out 0.7s;
}

nav a:hover::after {
    width: 100%;
}

/* --- Títulos da Section 1 (Efeitos de Texto) --- */
.content-titulos h2 {
    transition: all 0.5s ease-in-out;
}

.content-titulos h2:not(#subtitulo-glamour):hover {
    color: var(--acent-color);
    text-shadow: 0px 0px 100px rgb(0, 0, 0);
    transform: translateX(20px);
}

#subtitulo-glamour:hover {
    color: #fefefe;
    text-shadow: 0px 0px 100px rgb(0, 0, 0);
    transform: translateX(20px);
}

/* --- Botões da Section 1 --- */
.button-section1 img {
    transition: transform 0.2s ease;
}

.button-section1 img:hover {
    transform: scale(1.1);
}

/* --- Imagens das Sections 2, 3 e 4 (Efeito de Elevação e Borda) --- */
#section-2 img, 
#section-3 img
{
    transition: ease-in-out 0.8s ;
}

#section-2 img:hover, 
#section-3 img:hover
{
    box-shadow: 0 0 65px 15px rgba(218, 165, 32, 0.5);
}
.cards-servicos:hover {
    box-shadow: 0 0 25px 5px rgba(218, 165, 32, 0.5);
    transition-delay: 0s;
}
.cards-servicos{
    transition-property: box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.8s;
}

/* --- Botão Agendar (Section 2) --- */
#agendar-btn {
    transition: ease-in-out 0.3s;
}

#agendar-btn:hover {
    background-color: black;
    color: var(--acent-color);
}

/* --- Botão Como Chegar (Section 3) --- */
#como-chegar-btn {
    transition: ease-in-out 0.3s;
}

#como-chegar-btn:hover {
    background-color: black;
    color: var(--acent-color);
}

/* --- Botão Confira (Section 4) --- */
#confira-btn {
    transition: ease-in-out 0.3s;
}

#confira-btn:hover {
    background-color: black;
    color: var(--acent-color);
}

/* --- Elementos do Rodapé (Footer) --- */
#botoes-footer img, 
#botoes-footer #logo-wpp-footer {
    transition: transform 0.2s ease;
}

#botoes-footer img:hover {
    transform: scale(1.1);
}

footer a {
    transition: color 0.3s ease; /* Adicionado para suavizar a troca de cor do link */
}

footer a:hover {
    color: #b3881a;
}
/*-- cards de depoimentos --*/

.cards-depoimentos {
  opacity: 0;
  transform: translateX(-50px); 
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform; 
}
.cards-depoimentos.appear {
  opacity: 1;
  transform: translateX(0); 
}

.cards-depoimentos:nth-child(1) { transition-delay: 0s; }


.cards-depoimentos:nth-child(2) { transition-delay: 0.2s; }


.cards-depoimentos:nth-child(3) { transition-delay: 0.4s; }

.botoes span{
    animation-play-state: paused;
    transition: all 0.8s ease;
}
.botoes:hover span{
    animation: flutuacao 0.8s infinite alternate;
    animation-play-state: running; 
}
#como-chegar-btn span{
    animation-play-state: paused;
    transition: all 0.8s ease;
    transform: rotate(90deg);
}
#como-chegar-btn:hover span{
    animation: lupa 0.8s infinite alternate;
    animation-play-state: running;
}
@keyframes flutuacao{
    from{
        transform: translateY(0px);
        
    }to{
        transform: translateY(-3px);
        
    }
}
@keyframes lupa{
    from{
        transform: rotate(90deg);
        
    }to{
        transform: rotate(110deg);
        
    }
}
