*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: normal; 
    font-size: inherit;  
}
body{
    background-color: black;
}
html, body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    position: relative;
}
html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    display: none; 
}

/* Para Firefox e IE/Edge antigo */
html, body {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
}
a{
    text-decoration: none;
}
html{
    max-width: 100vw;
    overflow-x: hidden;
}