:root{
    --acent-color:#ffffff;
}
:root a{
    --acent-color: #b3881a;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: normal; 
    font-size: inherit;  
}
a{
    text-decoration: none;
}
html{
    max-width: 100vw;
    overflow-x: hidden;
}
#section-1, #section-2, #section-3 {
    scroll-margin-top: 10vh; 
}
header{
    width: 100vw;
    height: 10vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999; /* garante que o header sempre esteja acima de todos os elementos*/
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 14, 14);
    height: 100%;
}
ul{
    margin: 5px 30px 0px 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}
li{
    color: white;
    font-size: clamp(18px,3vw,28px);
} 
nav a{
    color: white;
    position: relative;
}
nav a::after{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--acent-color);
    transition: width ease-in-out 0.7s;
}

nav a:hover::after{
    width: 100%;
}
.container-logo{
    display: flex;
}
#logo-salao{
    min-width: 5vw;
    max-height: 8vh;
    padding-left: 2vw;
}

/*tudo acima e da header*/

#section-1{
    background-image: linear-gradient(rgba(0,0,0,0.6)),url(../img/imagem-estudio.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}
.container-titulos-e-botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 10vh;
}
.content-titulos{
    margin: 0 0 0 6vw;
    color: white;
    font-size: clamp(40px, 7vw, 95px);
    display: flex;
    flex-direction: column;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}
.content-titulos h2 {
    color: white;
    transition: all 0.5s ease-in-out;
    cursor: default;
}
#subtitulo-glamour {
    --acent-color: #fefefe; 
    color: var(--acent-color); 
    color: #b3881a; 
}
.content-titulos h2:not(#subtitulo-glamour):hover {
    color: var(--acent-color);
    text-shadow: 0px 0px 100px rgb(0, 0, 0);
    transform: translateX(20px);
}
#subtitulo-glamour:hover {
    color: #fefefe;
    text-shadow: 0px 0px 100px rgb(0, 0, 0);
    transform: translateX(20px);
}
/*tudo acima e dos h2 da section 1*/
#botoes-section1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10vw;
}
.button{
    font-size: 25px;
    display: flex;
    width: 200px;
    height: 50px;
    background-color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
}

.button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Inria Serif", serif;
    font-weight: 600;
    font-style: italic;
}
.button img{
    width: 40px;
    height: 40px;
}
#button1{
    display: flex;
    align-items: center;
    gap: 27px;
}
#button2{
    display: flex;
    align-items: center;
    gap: 21px;
}

/*tudo acima sao os botoes do section 1*/
.container-imagem-section1{
    height: 100%;
    /* width: 750px; */
    display: flex;
    align-items: end;
}
#content-mulheres-section1{
    /* background-image: url(..//img/mulheres_s1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    /* width: 750px; */
    height: 70%;
    flex-shrink: 0;
}


/*literal tudo, botoes, h2. sao da section 1*/

#section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#section-2 img{
    max-width: 30vw;
    max-height: 70vh;
    margin-bottom: 5vh;
    margin-left: 3vh;
    transition:  0.5s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
}

#section-2 img:hover{
    transform: translateY(-10px);
    border: solid 3px var(--acent-color);
}
/*Acima esta a imagem da section 2*/

.sobre-lash-designer{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;    
}
.sobre-lash-designer h3{
    color: white;
    font-size: clamp(15px,7vw,20px);
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto; 
}
.sobre-lash-designer #titulo-maior{
    font-size: clamp(20px,7vw,45px);
    font-family: "Inria Serif", serif;
    font-weight: 600;
    color: #b3881a;
}
#section-2 p{
    max-width: 50vw;
    hyphens: auto; 
    line-height: 25px;
    font-size: clamp(14px,3vw,20px);
    color: white;
}

/*Acima esta os paragrafos e titulos da section 2*/

#agendar-btn{ 
    background-color: var(--acent-color);
    align-self: center;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    width: 200px; 
    height: 50px;
    font-size: 25px;
    border: solid 2px var(--acent-color);
    transition: ease-in-out 0.3s;
    cursor: pointer;
    text-align: center;
    margin-top: 5%;
}

#agendar-btn:hover{
    background-color: black;
    color: var(--acent-color);

    & a{
       color: white; 
    }
}

#agendar-btn a{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*Acima esta o botao agende da section 2*/
/*acima esta a section 2*/
#section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
#section-3 img{
    max-width: 30vw;
    max-height: 70vh;
    margin-bottom: 8%;
    margin-right: 6%;
    transition:  0.5s ease-in-out;
    cursor: pointer;
    border-radius: 20px
}
#section-3 img:hover{
    transform: translateY(-10px);
    border: solid 3px var(--acent-color);
}
/*acima esta as imagens da section 3*/
.sobre-o-espaco{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;    
    height: 100%;
}
.sobre-o-espaco h3{
    color: white;
    font-size: clamp(15px,7vw,20px);
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto; /* isso tava na fescrição da fonte no google fonts, ai eu so botei */
    margin-left: 6%;
}
.sobre-o-espaco #titulo-maior-section3{
    font-size: clamp(20px,7vw,45px);
    font-family: "Inria Serif", serif;
    font-weight: 600;
    color: #b3881a;
    margin-left: 6%;
}
#section-3 p{
    max-width: 50vw;
    hyphens: auto; /* hyphens é para quando quebrar o texto, botar o tracinho */
    line-height: 25px;
    font-size: clamp(14px,3vw,20px);
    color: white;
    margin-left: 6%;
}
/*acima esta os textos da section 3*/
#como-chegar-btn{ 
    background-color: var(--acent-color);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    width: 200px; 
    height: 50px;
    font-size: 25px;
    border: solid 2px var(--acent-color);
    transition: ease-in-out 0.3s;
    cursor: pointer;
    text-align: center;
    margin-top: 5%;
    margin-left: 6%;
}
#como-chegar-btn:hover{
    background-color: black;
    color: var(--acent-color);

    & a{
       color: white; 
    }
}
#como-chegar-btn a{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
/*acima esta os botoes da section 3*/
#section-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    gap: 10vh;
}
#titulos-section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}
#titulos-section-4 h3{
    font-size: clamp(15px,3vw,35px);
    color: #fefefe;
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto; /* isso tava na fescrição da fonte no google fonts, ai eu so botei */
}
#titulos-section-4 h1{
    font-size: clamp(30px,7vw,65px);
    font-family: "Inria Serif", serif;
    font-weight: 600;
    color: #fefefe;
}


/*acima esta os titulos da section-4*/

#todos-os-cilios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    gap: 5vw;
}
#todos-os-cilios div{
    width: 18vw;
    max-height: 55vh;
    min-height: 26vw;
    background-color: rgb(16, 16, 16);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
#todos-os-cilios div img{
    max-width: 15vw;
    max-height: 40vh;
    border-radius: 15px;
    margin-top: 10%;
    cursor: pointer;
    --acent-color:#fefefe;
    transition:  0.5s ease-in-out;
}
#section-4 img:hover{
    transform: translateY(-10px);
    border: solid 3px var(--acent-color);
}
#todos-os-cilios div h2{
    margin-top: 8%;
    color: #fefefe;
    font-size: clamp(10px,2vw,25px);
    font-family: "Inria Serif", serif;
    font-weight: 600;
}

